body
   margin: 0
   padding: 0


#map
   position: absolute
   top: 0
   bottom: 0
   width: 100%


#canvas-layer
   background: transparent //rgba(0,0,0,.2)//
   position: absolute
   width: 500px
   height: 500px
