/* /////////////////////////////////////////////////////

Canvas Map Experiment
chris@wintr.us

///////////////////////////////////////////////////// */


/* Variables
--------------------------------------------- */

$fonts: '../webfonts';
$base-color: white;
$body-font:  Helvetica, Arial, sans-serif;


/* Imports
--------------------------------------------- */

@import "fonts";
@import "base";
@import "map-experiment";